<h1>Compatibility</h1>

<br>

<a href="/{{user._id}}">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{user.imgPath}}" alt="Card image cap">

    <div class="card-body">
      <h5 class="card-title">{{user.name}}</h5>
      <p class="card-text">
        <span>{{user.birthday}}</span><br>
        <span>{{user.birthtime}}</span><br>
        <span>{{user.birthplace}}</span><br>
        <span>{{user.location}}</span><br>
        <span>{{user.zodiac}}</span><br>
      </p>
</a>
</div>

<br>


<a href="/{{friend._id}}">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{friend.imgPath}}" alt="Card image cap">

    <div class="card-body">
      <h5 class="card-title">{{friend.name}}</h5>
      <p class="card-text">
        <span>{{friend.birthday}}</span><br>
        <span>{{friend.birthtime}}</span><br>
        <span>{{friend.birthplace}}</span><br>
        <span>{{friend.location}}</span><br>
        <span>{{friend.zodiac}}</span><br>
      </p>
</a>
</div>