<h1>{{friend.name}}'s Birthchart</h1>

<img src="{{friend.imgPath}}" alt="User profile pic"><br>

<strong>Birthday</strong>: {{friend.birthday}} <br>
<strong>Birth time</strong>: {{friend.birthtime}} <br>
<strong>Birthplace</strong>: {{friend.birthplace}} <br>
<strong>Current Location</strong>: {{friend.location}} <br>

<p>
  <a href="/edit-friend/{{friend._id}}">Edit</a><br>
  <a href="/{{friend._id}}/delete">Delete</a><br>
</p>