<h1>{{friend.name}}'s Birthchart</h1>

<strong>Birthday</strong>: {{friend.birthday}} <br>
<strong>Birth time</strong>: {{friend.birthtime}} <br>
<strong>Current Location</strong>: {{friend.location}} <br>

<p>
  <a href="/{{friend._id}}/edit">Edit</a><br>
  <a href="/{{friend._id}}/delete">Delete</a><br>
</p>