<header class="header-homepage">

  <h1>Hi {{user.username}}!</h1>
  <h4>See how compatible you are with your pals.</h4>


  <a href="/profile/{{req.user._id}}"> </a>

  <div class="container profile-info-wrapper">
    <div class="row">
      <div class="col">
        <img src="{{user.imgPath}}" height="300" alt="" class="profile-image">
      </div>

      <div class="col user-info">
        <ul class="center">
          <li>
            Name: <span>{{user.username}}</span>
          </li>

          <li>
            Location: <span>{{user.location}}</span>
          </li>

          <li>
            Birthtime: <span>{{user.birthtime}}</span>
          </li>

          <li>
            Birth month: <span>{{user.birthmonth}}</span>
          </li>

          <li>
            Birth day: <span>{{user.birthday}}</span>
          </li>

          <li>
            Birthplace: <span>{{user.birthplace}}</span>
          </li>

          <li>
            Zodiac: <span>{{user.zodiac}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<br>

<section class="friends-section">
  <div class="friends-divider">
    <h3>Friends</h3>
  </div>

  <div class="container">
    <div class="card-deck friends-deck">
      {{#each listOfFriends}}

      {{!-- <a href="/{{this._id}}"></a> --}}
      <div class="card " style="width: 18rem;">
        <img class="card-img-top img-thumbnail" src="{{this.imgPath}}" alt="Card image cap">

        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">
            <span>Zodiac Sign: {{this.zodiac}}</span><br>
          </p>
          <a href="/compatibility/{{this._id}}" class="btn btn-primary">See compatibility</a><br>
          <a href="/edit-friend/{{this._id}}">Edit</a>
          <a href="/{{this._id}}/delete">Delete</a>
        </div>
      </div>
      {{!-- </a> --}}



      {{else}}
      <p>You have no friends yet!<br> Sadness!<br> <a href="/add-friend">Add a friend</a> or get a random celeb</p>

      {{/each}}

    </div>
  </div>
</section>

<footer>
  <div>
    <small>AstroMatch 2018</small>
  </div>
</footer>