<header class="header-homepage">

  <h3>Hi {{user.username}}! See how compatible you are with your pals.</h3>


  <a href="/profile/{{req.user._id}}"> </a>

  <div class="container">
    <div class="row">
      <div class="col">
        <img src="{{user.imgPath}}" height="300" alt="" class="profile-image">
      </div>
      <div class="col">
        <ul class="center">
          <li>
            Name: {{user.username}}
          </li>
          <br>
          <li>
            Location: {{user.location}}
          </li>
          <br>
          <li>
            Birthtime: {{user.birthtime}}
          </li>
          <br>
          <li>
            Birth month: {{user.birthmonth}}
          </li>
          <br>
          <li>
            Birth day: {{user.birthday}}
          </li>
          <br>
          <li>
            Birthplace: {{user.birthplace}}
          </li>
          <br>
          <li>
            Zodiac: {{user.zodiac}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<br>
<hr>
<h3>Friends
</h3>
<div class="card-deck friends-deck">
  {{#each listOfFriends}}

  <a href="/{{this._id}}">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top img-thumbnail" src="{{this.imgPath}}" alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">

          <span>Zodiac Sign: {{this.zodiac}}</span><br>
        </p>
  </a>
</div>

<a href="/edit-friend/{{this._id}}">Edit</a>
<a href="/{{this._id}}/delete">Delete</a>
<a href="/compatibility/{{this._id}}" class="btn btn-primary">See compatibility</a><br>

</div>

{{else}}
<p>You have no friends yet!<br> Sadness!<br> <a href="/add-friend">Add a friend</a> or get a random celeb</p>

{{/each}}

</div>