<header class="header-homepage">

  <h1>Hi {{user.username}}!</h1>
  <h4>See how compatible you are with your pals.</h4>




  <div class="container profile-info-wrapper">
    <div class="row">
      <div class="col">
        <a href="/profile/{{req.user._id}}">
          <img src="{{user.imgPath}}" height="300" alt="" class="profile-image">
        </a>
      </div>

      <div class="col user-info">
        <ul class="center">

          <li>

            {{#ifEquals user.zodiac "Capricorn"}}
            <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358151/capricorn-sign.png" height="50">
            {{else}}
            {{/ifEquals}}

            {{#ifEquals user.zodiac "Virgo"}}
            <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358255/virgo-astrological-symbol-sign-1.png"
              height="50">
            {{else}}
            {{/ifEquals}}

            {{#ifEquals user.zodiac "Taurus"}}
            <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358244/taurus-astrological-sign-symbol-1.png"
              height="50">
            {{else}}
            {{/ifEquals}}

            {{#ifEquals user.zodiac "Scorpio"}}
            <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358234/scorpion-astrological-sign.png"
              height="50">
            {{else}}
            {{/ifEquals}}

            {{#ifEquals user.zodiac "Sagittarius"}}
            <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358222/sagittarius-arrow-sign.png" height="50">
            {{else}}
            {{/ifEquals}}

            {{#ifEquals user.zodiac "Pisces"}}
            <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358212/pisces-astrological-sign.png"
              height="50">
            {{else}}
            {{/ifEquals}}

            {{#ifEquals user.zodiac "Libra"}}
            <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358200/libra-sign.png" height="50">
            {{else}}
            {{/ifEquals}}

            {{#ifEquals user.zodiac "Leo"}}
            <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358183/leo-sign.png" height="50">
            {{else}}
            {{/ifEquals}}

            {{#ifEquals user.zodiac "Gemini"}}
            <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358170/gemini-zodiac-sign-symbol.png"
              height="50">
            {{else}}
            {{/ifEquals}}

            {{#ifEquals user.zodiac "Cancer"}}
            <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358125/cancer-zodiac-sign-symbol.png"
              height="50">
            {{else}}
            {{/ifEquals}}

            {{#ifEquals user.zodiac "Aries"}}
            <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358095/aries-sign.png" height="50">
            {{else}}
            {{/ifEquals}}

            {{#ifEquals user.zodiac "Aquarius"}}
            <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542357911/aquarius-zodiac-sign-symbol.png"
              height="50">
            {{else}}
            {{/ifEquals}}

          </li>

          <li>
            Zodiac: <span>{{user.zodiac}}</span>
          </li>
          <li>
            Birthday: <span>{{user.birthday}} / {{user.birthmonth}}</span></li>

          <li>
            Birthtime: <span>{{user.birthtime}}</span>
          </li>


          <li>
            Birthplace: <span>{{user.birthplace}}</span>
          </li>


          <div class="edit-button container justify-content-left ml-0 pl-0">
            <button type="button" class="btn btn-primary edit-button-tag col">
              <a href="/edit-profile/{{user._id}}">Edit Profile</a>
            </button>
          </div>

        </ul>

      </div>

    </div>
  </div>

</header>

<br>

<section class="friends-section">
  <div class="friends-divider">
    <h3>Friends</h3>
    <button class="btn-primary btn-circle">+</button>
    <h5>Add Friend</h5>
  </div>
  <br>

  <div class="container">
    <div class="card-deck friends-deck">
      {{#each listOfFriends}}

      {{!-- <a href="/{{this._id}}"></a> --}}
      <div class="card " style="width: 18rem;">
        <a href="/{{this._id}}">
          <img class="card-img-top img-thumbnail" src="{{this.imgPath}}" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">
            <span>{{this.zodiac}}</span>
            <div>
              {{#ifEquals this.zodiac "Capricorn"}}
              <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358151/capricorn-sign.png" height="50">
              {{else}}
              {{/ifEquals}}

              {{#ifEquals this.zodiac "Virgo"}}
              <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358255/virgo-astrological-symbol-sign-1.png"
                height="50">
              {{else}}
              {{/ifEquals}}

              {{#ifEquals this.zodiac "Taurus"}}
              <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358244/taurus-astrological-sign-symbol-1.png"
                height="50">
              {{else}}
              {{/ifEquals}}

              {{#ifEquals this.zodiac "Scorpio"}}
              <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358234/scorpion-astrological-sign.png"
                height="50">
              {{else}}
              {{/ifEquals}}

              {{#ifEquals this.zodiac "Sagittarius"}}
              <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358222/sagittarius-arrow-sign.png"
                height="50">
              {{else}}
              {{/ifEquals}}

              {{#ifEquals this.zodiac "Pisces"}}
              <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358212/pisces-astrological-sign.png"
                height="50">
              {{else}}
              {{/ifEquals}}

              {{#ifEquals this.zodiac "Libra"}}
              <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358200/libra-sign.png" height="50">
              {{else}}
              {{/ifEquals}}

              {{#ifEquals this.zodiac "Leo"}}
              <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358183/leo-sign.png" height="50">
              {{else}}
              {{/ifEquals}}

              {{#ifEquals this.zodiac "Gemini"}}
              <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358170/gemini-zodiac-sign-symbol.png"
                height="50">
              {{else}}
              {{/ifEquals}}

              {{#ifEquals this.zodiac "Cancer"}}
              <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358125/cancer-zodiac-sign-symbol.png"
                height="50">
              {{else}}
              {{/ifEquals}}

              {{#ifEquals this.zodiac "Aries"}}
              <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542358095/aries-sign.png" height="50">
              {{else}}
              {{/ifEquals}}

              {{#ifEquals this.zodiac "Aquarius"}}
              <img src="https://res.cloudinary.com/ddutss7vb/image/upload/v1542357911/aquarius-zodiac-sign-symbol.png"
                height="50">
              {{else}}
              {{/ifEquals}}

            </div>
          </p>Compatability Score:
          {{this.compatability}}

          <a href="/compatibility/{{this._id}}" class="btn btn-primary">See compatibility</a><br>
          <a href="/edit-friend/{{this._id}}">Edit</a>
          <a href="/{{this._id}}/delete">Delete</a>
        </div>

      </div>
      {{!-- </a> --}}



      {{else}}
      <p>You have no friends yet!<br> Sadness!<br> <a href="/add-friend">Add a friend</a> or get a random celeb</p>

      {{/each}}

    </div>
  </div>
</section>