<a href="/profile">
  <section>
    <img src="{{user.imgPath}}" alt="User profile image"><br>
    Name: {{user.username}}
    <br>
    <br>
    Location: {{user.location}}
    <br>
    <br>
    Birthtime: {{user.birthtime}}
    <br>
    <br>
    Birth month: {{user.birthmonth}}
    <br>
    <br>
    Birth day: {{user.birthday}}
    <br>
    <br>
    Birthplace: {{user.birthplace}}
    <br>
    <br>
    Zodiac: {{user.zodiac}}
    <br>
    <br>
  </section>
</a>

{{#each listOfFriends}}

<a href="/{{this._id}}">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{this.imgPath}}" alt="Card image cap">

    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">
        <span>{{this.birthday}}</span><br>
        <span>{{this.birthtime}}</span><br>
        <span>{{this.birthplace}}</span><br>
        <span>{{this.location}}</span><br>
        <span>zodiac !{{this.zodiac}}</span><br>
      </p>
</a>
<a href="/compatibility/{{this._id}}" class="btn btn-primary">See compatibility</a><br>
<a href="/edit-friend/{{this._id}}">Edit</a>
<a href="/{{this._id}}/delete">Delete</a>
</div>

{{else}}
<p>You have no friends yet!<br> Sadness!<br> <a href="/add-friend">Add a friend</a> or get a random celeb</p>

{{/each}}